@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(1turn);
	}
}

.loading-container {
	position: absolute;
	top: 30vh;
	left: 0;
	z-index: 999;
	opacity: 0.3;
	width: 100vw;

	text-align: center;
}

.spinner--rotate {
	animation: 3s linear 0s infinite rotate;
}
