@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import "./post.css";
@import "./new.css";
@import "./edit.css";
@import "./loading.css";
@import "./header.css";
@import "./footer.css";

body {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	font-family: "Noto Sans KR", sans-serif;
	overflow-y: scroll;
}
#app {
	min-height: 75vh;
}
.app--blur {
	opacity: 0.5;
}

a {
	text-decoration: none;
	color: #283593;
}

a:visited {
	color: #303f9f;
}
